
body{
    font-family: "Roboto" sans-serif;
    margin: 0;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
a{
    font-size: 18px;
    color:#E5E7EB
}
header, ul{
    display: flex;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;
}
a {
    text-decoration: none;
}
header{
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 32px;
    padding-right: 200px;
}